
body{
    font-family: Arial;
    background: #ECF0FC;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main{
    width: 90%;
    height: 800px;
    margin-top: 65px;
    background: #EDF1FD;
    box-shadow: 0 0 10px 5px gray;
}
#me{
    position: absolute;
    left: 1130px;
    top: 290px;

    border-radius: 10px;
}
.b{
    position: absolute;
    border: 0px solid #0D0D0D;
    border-radius: 100px;
    background: url("img/22.png") no-repeat;
}
.b1{
    width: 80px;
    height: 80px;
    background-size: cover;
    left: 140px;
    top: 20px;
}
.b2{
    width: 65px;
    height: 65px;
    background-size: cover;
    top: 840px;
    left: 1600px;
}
.b3{
    width: 40px;
    height: 40px;
    background-size: cover;
    top: 890px;
    left: 520px;
}
.bar{
    margin-top: 30px;
    margin-left: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
ul{

}
ul li{
    list-style: none;
    display: inline-block;
    margin-left: 45px;
}
ul li a{
    font-size: 15px;
    color: black;
    text-decoration: navajowhite;
}

.hello{
    margin-left: 60px;
    width: 80%;
    height: 700px;
    display: flex;
    align-items: center;
}
.d1{
    width: 60%;
}
.gray{
    color: gray;
    line-height: 25px;
    width: 80%;

}
.iam{
    color: #292929;
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 5px;
    word-spacing: 7px;
}
#red{
    color: #E71B4B;
}
.Sbody{

    width: 60%;
    height: 1200px;
    margin-top: 65px;
    background: #EDF1FD;
    box-shadow: 0 0 10px 5px gray;
}
.Sbody div:first-child{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.Sb1{
    width: 80px;
    height: 80px;
    background-size: cover;
    left: 440px;
    top: 30px;
}
.Sb2{
    width: 65px;
    height: 65px;
    background-size: cover;
    top: 800px;
    left: 1460px;
}
.Sb3{
    width: 40px;
    height: 40px;
    background-size: cover;
    top: 1200px;
    left: 350px;
}
.acoSopov{
    border-bottom: 4px dashed gray;
    height: 300px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
.korcagin{
    padding-bottom: 20px;
    border-bottom: 4px dashed gray;
    height: 300px;
    margin-bottom: 50px;
}
.finki{
    height: 300px;
}
#sopov{
    margin: 0px 20px;
    border: 1px solid gray;
}
.t1{
    margin-top: -40px;
    width: 500px;
    margin-right: 70px;
    text-align: left;
    margin-left: -100px;
}
.title{

    margin-left: -440px;
    color: #292929;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
}
.t2{
    line-height: 22px;
    margin-left: -50px;
}
#korca{
    float: right;
    margin-right: 20px;
    margin-left: 40px;
}
.celina{

    width: 600px;
    margin-left: 40px;
}
#gray{
    color: #292929;
    font-size: 25px;
    font-weight: bold;
    margin-right: 297px;
}
.tekst1 p{
    text-align: justify;
    margin-right: 10px;
    line-height: 22px;
}
#fin{
float: left;
}
.titleF{
    color: #292929;
    font-size: 25px;
    font-weight: bold;
    margin-left: -580px;
}
.celina2{
    width: 640px;
    margin-left: 420px;
}
.tekst2{
   line-height: 22px;
}
.hello2{
    margin-top: 20px;
    
    height: 690px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forma{

    width: 40%;
    height: 400px;
    padding-left: 20px;
}
.kotakt{

    width: 19%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.ContactMe{
  font-size: 30px;
    color: #E71B4B;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 2px solid gray;
    padding-bottom: 10px;
    width: 96%;
}
.one{
    margin-bottom: 20px;
}
.two{
    margin-bottom: 20px;
}

#firstName{
    width: 300px;
    height:28px;
    margin-right: 20px;
}
#LastName{
    width: 300px;
    height:28px;
}
#phone{
    width: 300px;
    height:28px;
    margin-right: 20px;
}
#email{
    width: 300px;
    height:28px;
}
#message{
    width: 635px;
    height: 150px;
}
.btn{
    margin-top: 20px;
    width: 170px;
    height: 40px;
    background: #292929;
    color: whitesmoke;
    border-radius: 10px;
}
.fl{
    float:left;
    margin-right: 20px;
}
.one1{
    margin-bottom: 30px;
    border: 1px solid transparent;
}
.two2{
    margin-bottom: 30px;
    border: 1px solid transparent;
}
.three3{
    border:1px solid transparent;
}
.line{
    border: 1px solid transparent;
}
.gym{
    border-bottom: 4px dashed gray;
    height: 500px;
}
#gym{
    float: left;
    margin-left: 20px;
}
.games{
    margin-top: 50px;
    height: 500px;
}
.gymT{
    text-align: justify;
    width: 600px;
    margin-top: 80px;
    margin-left: 380px;
}
#game{

    float: right;
    margin-right: 20px;
    margin-top: -60px;
}
.tekstG{
   
    margin-top: 110px;
    width:600px ;
    margin-left: 120px;
    text-align: justify;
}